/* public/css/lap-tracker.css */

/* Persistent Header */
.top-nav {
    width: 100%;
    padding: 30px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    flex-shrink: 0;
    flex-wrap: wrap;
    gap: 6px;
}

/* View Manager */
.view { 
    display: none; 
    width: 100%; 
    max-width: 800px; 
    flex-direction: column;
    align-items: center;
}

.lap-tracker-layout {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.view.active {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.hidden { display: none !important; }

.lap-tracker-layout .nav-back-btn {
    margin-top: 20px;
}

/* -----------------------------------
   VIEW 2: NO ONGOING RACE 
----------------------------------- */
.no-race-box {
    background-color: #96CAFF; /* Light blue from Figma */
    width: 100%;
    max-width: 750px;
    height: 350px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.no-race-box h2 {
    color: #000000;
    font-size: 42px;
    font-weight: 900;
    margin: 0;
}

/* -----------------------------------
   VIEW 3: ONGOING RACE (Backend logic UI)
----------------------------------- */
.instruction { 
    color: #a0a0b0; 
    font-size: 1.2rem; 
    margin-bottom: 30px; 
}

.car-grid {
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 30px; 
    width: 100%;
    margin-bottom: 30px;
}

.car-btn {
    background: #4096A6; 
    border: none; 
    border-radius: 20px;
    height: 180px; 
    cursor: pointer; 
    font-size: 48px;
    font-weight: 900;
    color: #000;
    transition: transform 0.1s;
}

.car-btn:active { 
    transform: scale(0.95); 
    background: #C57979; 
}

/* Lap Log */
.log-box {
    background: #1a1a1a; 
    width: 100%;
    height: 250px;
    overflow-y: auto;
    padding: 20px; 
    border-radius: 12px;
    font-family: monospace; 
    color: #96CAFF; 
    text-align: left;
}

.log-box p {
    margin: 6px 0; 
}